<mat-card matBadge="22"
  matBadgePosition="above after"
  matBadgeColor="warn"
  matBadgeSize="medium"
  style="min-height: 100px"
  [ngStyle]="{'max-width.px': maxWidth}">
  <mat-card-title-group>
    <mat-card-title>
      Paul's Chili <app-flame-badge *ngFor="let chili of chiliCount"></app-flame-badge>
    </mat-card-title>
    <mat-card-subtitle>
      The best
    </mat-card-subtitle>
  </mat-card-title-group>
  <img mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu">
  <mat-card-content>
  </mat-card-content>
</mat-card>
