<div fxLayout="row"
  fxLayoutAlign="center center"
  style="height: 100%">
  <mat-card [ngStyle]="{'height.px': chart?.height || 300, 'width.px': chart?.width || 300}">
    <div *ngIf="chiliChart?.columns?.length == 0"
      fxLayout="column"
      fxLayoutAlign="center center"><strong>Get Rating!!!!!</strong></div>
    <ngx-charts-bar-vertical #chart
      *ngIf="chiliChart?.columns?.length > 0"
      [view]="view"
      [scheme]="colorScheme"
      [results]="chiliChart.columns"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel">
    </ngx-charts-bar-vertical>
  </mat-card>
</div>
